<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/login_style.css">
</head>
<body>
    <div class="login-container">
        <h2>Servicios Profesionales</h2>
        <form id="loginForm">
            <input type="text" name="nombre_usuario" placeholder="Nombre de Usuario" required>
            <input type="password" name="contraseña" placeholder="Contraseña" required>
            <div class="options">
                <label>
                    <input type="checkbox" id="mostrarContrasena"> Mostrar contraseña
                </label>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
        <h2 class="cuenta">¿No tienes cuenta aun?</h2>
        <a href="/register">Registrate aqui</a>
    </div>
    <div class="img-fondo">
        <img src="/img/dbhdv.jpg" alt="">
    </div>
    <script src="/js/login.js"></script>
</body>
</html>