<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register_style.css">
</head>
<body>
    <div class="register-container" style="display: block">
        <h1>¡Registrate!</h1>
        <form id="registerForm">
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
        <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
        <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre de usuario" required>
        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
        <input type="password" id="confirmar_contraseña" name="confirmar_contraseña" placeholder="Confirma tu contraseña" required>
        <br>
        <div id="seleccionDiv">
            <select id="rol" name="rol" required>
                <option value="">Selecciona un rol</option>
                <option value="cliente">Cliente</option>
                <option value="profesional">Profesional</option>
            </select>
            <div id="CategoriasDiv" style="display:none">
                <select id="categoria" name="categoria" required>
                <option value="">Selecciona una categoría</option>
                <option value="Doctor">Doctor</option>
                <option value="Abogado">Abogado</option>
                <option value="Terapeuta">Terapeuta</option>
            </select>
            </div>
        </div>
        <br>
        <button type="submit">Registrarse</button>
        </form>

        
        <form class="register-container" id="perfil-profesional-form" style="display: none;">
            <h2>Introduzca sus datos profesionales</h2>
            <input type="text" name="num_telefono" placeholder="Número de Teléfono" required>
            <input type="text" name="descripcion" placeholder="Descripción" required>
            <input type="text" name="ubicacion" placeholder="Ubicación" required>
            <br>
            <h2>Seleccione su Horario de Atención</h2>
            <label for="inicio-dia">Inicio de Semana Laboral:</label>
            <select name="inicio-dia" id="inicio-dia" required>
                <option value="lunes">Lunes</option>
                <option value="martes">Martes</option>
                <option value="miercoles">Miércoles</option>
                <option value="jueves">Jueves</option>
                <option value="viernes">Viernes</option>
                <option value="sabado">Sábado</option>
            </select>
            <br>
            <label for="fin-dia">Fin de Semana Laboral:</label>
            <select name="fin-dia" id="fin-dia">
                <option value="lunes">Lunes</option>
                <option value="martes">Martes</option>
                <option value="miercoles">Miércoles</option>
                <option value="jueves">Jueves</option>
                <option value="viernes">Viernes</option>
                <option value="sabado">Sábado</option>
            </select>
            <br>
            <label for="hora-inicio">Hora de Inicio:</label>
            <input type="time" id="hora-inicio" name="hora-inicio" required>
            <br>
            <label for="hora-fin">Hora de Fin:</label>
            <input type="time" id="hora-fin" name="hora-fin" required>
            <br>
            <button type="submit" id="submit-profesional-form">Guardar Datos Profesionales</button>
        </form>

        <h2>¿Ya tienes una cuenta?</h2>
        <p><a href="/login">Inicia sesión aquí</a></p>
    </div>
    <div class="img-fondo">
        <img src="/img/dbhdv.jpg" alt="">
    </div>
    
    <script src="/js/register.js"></script>
</body>
</html>